public/flow/MQTT_test.json
[{"id":"9487d7da.b4b8d8","type":"mqtt in","z":"519d38e.96bb9c8","name":"接收lora訊息","topic":"GIOT-GW/UL/+","qos":"2","broker":"822ed4a3.9d0838","x":107.93334197998047,"y":404.4666919708252,"wires":[["b003ffe5.a58c4","f900884c.6723b8"]]},{"id":"f641c51f.13bbe8","type":"debug","z":"519d38e.96bb9c8","name":"","active":true,"console":"false","complete":"false","x":640.9335403442383,"y":408.73362159729004,"wires":[]},{"id":"3f43f548.3a584a","type":"inject","z":"519d38e.96bb9c8","name":"type : ab00","topic":"","payload":"{\"id\":\"8bab8bd0-e4fe-4225-9eac-9fb019c0d4e1\",\"macAddr\":\"04000496\",\"data\":\"ab00773f3f3030353d3c3130303f3f\",\"buff\":\"2017-06-22T08:04:25.194Z\",\"recv\":\"2017-06-22T08:04:24.000Z\",\"extra\":{\"gwip\":\"10.5.180.16\",\"gwid\":\"00001c497b432024\",\"rssi\":-41,\"snr\":27.5}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":126.9333267211914,"y":262.9333190917969,"wires":[["738e3a8b.c7b7c4"]]},{"id":"78decf6c.b5f28","type":"inject","z":"519d38e.96bb9c8","name":"type : ab01","topic":"","payload":"{\"id\":\"8bab8bd0-e4fe-4225-9eac-9fb019c0d4e1\",\"macAddr\":\"04000496\",\"data\":\"ab01783f3f3230313c323330303c30\",\"buff\":\"2017-06-22T08:04:25.194Z\",\"recv\":\"2017-06-22T08:04:24.000Z\",\"extra\":{\"gwip\":\"10.5.180.16\",\"gwid\":\"00001c497b432024\",\"rssi\":-41,\"snr\":27.5}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":126.70000457763672,"y":309.5999946594238,"wires":[["738e3a8b.c7b7c4"]]},{"id":"2a081c25.6844a4","type":"function","z":"519d38e.96bb9c8","name":"parse data","func":"var msgTools = context.global.msgTools;\nvar parseData = msgTools.parseMotorMsg(msg.payload) ;\n\nif(parseData === null){\n    node.warn('Drop message');\n    return;\n}\n\nvar info = parseData.information;\nvar data =  parseData.data;\n\nvar mode = parseData.mode;\nnode.log('#### parseData mode :'+mode+\"\\n\"+JSON.stringify(parseData));\n//node.warn('#### Data :'+data+'mode:'+mode);\nvar json = {};\njson.mac = parseData.mac;\n//json.mode = mode;\njson.info = info;\n\n/*\n* 0x0：工程模式，詢問轉速上限值[5]~[8]、正反轉/模式[9]、OFF_Delay[10]、ON_Delay[11]、ID[12]~[13]、軟體版本[14]、硬體版本[15]\n* 0x2：工程模式，詢問目前轉速值[5]~[8]、電流值[9]~[12]、Error Code[13]\n*/\nif(mode ==='30'){\n    msg.payload = {id:\"get_init\", v: json};\n}else if(mode ==='32'){\n    msg.payload = {id:\"get_rpm\", v: json};\n}else if(mode ==='31'){\n    msg.payload = {id:\"get_setting_1\", v: json};\n}else if(mode ==='33'){\n    msg.payload = {id:\"get_setting_3\", v: json};\n}\n\n//node.warn('#### parse data msg.payload :'+JSON.stringify(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":514.7001342773438,"y":275.59998321533203,"wires":[["589edf11.61e24","5333163a.6fdfe8"]]},{"id":"738e3a8b.c7b7c4","type":"function","z":"519d38e.96bb9c8","name":"for test","func":"msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":276.93335723876953,"y":275.7333221435547,"wires":[["2a081c25.6844a4"]]},{"id":"5333163a.6fdfe8","type":"websocket out","z":"519d38e.96bb9c8","name":"WS Output","server":"cc1434d4.373638","client":"","x":784.1001625061035,"y":276.61882972717285,"wires":[]},{"id":"589edf11.61e24","type":"debug","z":"519d38e.96bb9c8","name":"Subscribe MQTT parse data send back to Control pag","active":true,"console":"false","complete":"payload","x":844.1667709350586,"y":216.93337440490723,"wires":[]},{"id":"8bfd76ad.01c2b8","type":"function","z":"519d38e.96bb9c8","name":"測試用","func":"var arr = JSON.parse(msg.payload);\nvar data = 'ac0107'+ arr[0].data;\n\nvar mode =  data.substring(12,14);\nnode.log('mode : '+mode +' >> data : '+data);\nvar json;\nif(mode === '30'){\n    json = {\"channel\":925125000, \"sf\":9, \"time\":\"2017-07-03T09:44:25\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-47.0, \"snr\":32.0, \"snr_max\":40.5, \"snr_min\":28.8, \"macAddr\":\"0000000005010336\", \"data\":\"ac0177233f3f3030313d363130303f3f30303838od\", \"frameCnt\":100, \"fport\":2};\n}else if(mode === '32'){\n    json = {\"channel\":925125000, \"sf\":9, \"time\":\"2017-07-03T09:44:25\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-47.0, \"snr\":32.0, \"snr_max\":40.5, \"snr_min\":28.8, \"macAddr\":\"0000000005010336\", \"data\":\"ac0177233f3f3230313d363330303c3030303736od\", \"frameCnt\":100, \"fport\":2};\n\n}else if(mode === '31'){\n    json = {\"channel\":925125000, \"sf\":9, \"time\":\"2017-07-03T09:44:25\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-47.0, \"snr\":32.0, \"snr_max\":40.5, \"snr_min\":28.8, \"macAddr\":\"0000000005010336\", \"data\":\"ac0177233f3f3130313d363130303f3f30303838od\", \"frameCnt\":100, \"fport\":2};\n}else if(mode === '33'){\n    json = {\"channel\":925125000, \"sf\":9, \"time\":\"2017-07-03T09:44:25\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-47.0, \"snr\":32.0, \"snr_max\":40.5, \"snr_min\":28.8, \"macAddr\":\"0000000005010336\", \"data\":\"ac0177233f3f3330313d363130303f3f30303838od\", \"frameCnt\":100, \"fport\":2};\n    json.data = data;\n}\n//json.data = data;\n\nvar payload = [json];\n\nnode.log('#####Local MQTT message test data type: '+typeof(payload)+\"\\n\"+JSON.stringify(payload));\n\nmsg.payload = JSON.stringify(payload[0]);\n//msg.payload = JSON.stringify(payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":366.16670989990234,"y":115.2667293548584,"wires":[["2a081c25.6844a4"]]},{"id":"2c774d15.257822","type":"debug","z":"519d38e.96bb9c8","name":"測試用MQTT訂閱","active":false,"console":"false","complete":"payload","x":410.1667251586914,"y":58.06667137145996,"wires":[]},{"id":"b003ffe5.a58c4","type":"function","z":"519d38e.96bb9c8","name":"Verify type is moto control or not?","func":"var arr = JSON.parse(msg.payload);\nvar payload = arr[0];\nvar data = payload.data;\nvar mac = payload.macAddr;\nvar type = data.substring(0,4);\nif(type.indexOf('ac')!=-1){\n    node.log('#### Parse mac : ('+mac+') message :'+data);\n    msg.payload = JSON.stringify(payload);\n    return msg;\n}else{\n    node.log('???? Drop mac : ('+mac+') message :'+data);\n}\n","outputs":1,"noerr":0,"x":379.60005950927734,"y":408.93342685699463,"wires":[["f641c51f.13bbe8","2a081c25.6844a4"]]},{"id":"f900884c.6723b8","type":"debug","z":"519d38e.96bb9c8","name":"","active":false,"console":"false","complete":"false","x":345.8334655761719,"y":474.0667362213135,"wires":[]},{"id":"80502c2d.79316","type":"comment","z":"519d38e.96bb9c8","name":"測試用MQTT訂閱","info":"GIOT-GW/DL/00001c497b3b8146","x":128.1666717529297,"y":117.13334846496582,"wires":[]},{"id":"5bd7a05.eb11e6","type":"mqtt in","z":"519d38e.96bb9c8","name":"測試用MQTT訂閱","topic":"GIOT-GW/DL/00001c497b3b8146","qos":"2","broker":"822ed4a3.9d0838","x":128.93331909179688,"y":57.93333053588867,"wires":[["2c774d15.257822"]]},{"id":"822ed4a3.9d0838","type":"mqtt-broker","z":"","broker":"192.168.2.5","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"cc1434d4.373638","type":"websocket-listener","z":"","path":"/ws/control","wholemsg":"false"}]