public/flow/MQTT_SAVE.json
[{"id":"afe40bf7.3919f8","type":"mqtt in","z":"82925184.363af","name":"MQTT_200000206","topic":"client/200000206/200000206-GIOT-MAKER","qos":"2","broker":"c7a3ba33.c5db78","x":107,"y":50,"wires":[["c6827fd7.15c19","8197a4ce.713458"]]},{"id":"63b60758.018ec8","type":"function","z":"82925184.363af","name":"tempature","func":"\nmsg= {payload:msg.payload.temperature};\n\nreturn msg;","outputs":"1","noerr":0,"x":732.6071586608887,"y":244.8214831352234,"wires":[["ebd185fa.b2bc88","a2a46cd6.748e"]]},{"id":"19f77a00.fd41c6","type":"function","z":"82925184.363af","name":"humidity","func":"\nmsg= {payload:msg.payload.humidity};\n\nreturn msg;","outputs":"1","noerr":0,"x":732.4643020629883,"y":314.1072163581848,"wires":[["f7314b65.8c18f8","c9d9f493.837778"]]},{"id":"c6827fd7.15c19","type":"debug","z":"82925184.363af","name":"","active":true,"console":"false","complete":"payload","x":317.00001525878906,"y":49,"wires":[]},{"id":"ec6a546c.265678","type":"function","z":"82925184.363af","name":"pressure","func":"\nmsg= {payload:msg.payload.pressure};\n\nreturn msg;","outputs":"1","noerr":0,"x":727.6642532348633,"y":145.53573751449585,"wires":[["ba387f2a.742f","8c5b4aba.93df98"]]},{"id":"dce6b5da.b45d68","type":"function","z":"82925184.363af","name":"light","func":"\nmsg= {payload:msg.payload.light};\n\nreturn msg;","outputs":"1","noerr":0,"x":721.8070487976074,"y":189.82147932052612,"wires":[["341cf28b.e38b2e","75416208.36059c"]]},{"id":"ce6d37c9.6fe898","type":"function","z":"82925184.363af","name":"rain","func":"\nmsg= {payload:(msg.payload.rain)};\n\nreturn msg;","outputs":"1","noerr":0,"x":726.3572158813477,"y":459.57151079177856,"wires":[["fa667880.cc9938","f62c84de.2df238"]]},{"id":"bbdfadab.a271a","type":"function","z":"82925184.363af","name":"uv","func":"\nmsg= {payload:msg.payload.uv};\n\nreturn msg;","outputs":"1","noerr":0,"x":727.6428871154785,"y":390.2857880592346,"wires":[["dd3649e2.1d4de8","95a9eb05.243058"]]},{"id":"ebd185fa.b2bc88","type":"ui_gauge","z":"82925184.363af","name":"溫度表","group":"bae05f18.96c6d","order":1,"width":0,"height":0,"gtype":"gage","title":"","label":"度","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"x":895.9644165039062,"y":231.2143063545227,"wires":[]},{"id":"a2a46cd6.748e","type":"ui_chart","z":"82925184.363af","name":"溫度線性圖","group":"aa34c7d.2f0ec38","order":2,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":916.2502174377441,"y":267.35720682144165,"wires":[[],[]]},{"id":"ba387f2a.742f","type":"ui_chart","z":"82925184.363af","name":"線性圖","group":"a9c23cf1.97bce","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"950","ymax":"1100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":894.0436820983887,"y":120.0233998298645,"wires":[[],[]]},{"id":"341cf28b.e38b2e","type":"ui_gauge","z":"82925184.363af","name":"照明表","group":"e78a5ff9.414d6","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"lux","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":893.1865425109863,"y":158.88061952590942,"wires":[]},{"id":"75416208.36059c","type":"ui_chart","z":"82925184.363af","name":"照明線性圖","group":"2234f3b4.78b5dc","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":913.7582054138184,"y":192.45208406448364,"wires":[[],[]]},{"id":"f7314b65.8c18f8","type":"ui_gauge","z":"82925184.363af","name":"濕度表","group":"e4958dd5.76b27","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":896.8216028213501,"y":326.21431398391724,"wires":[]},{"id":"c9d9f493.837778","type":"ui_chart","z":"82925184.363af","name":"濕度線性圖","group":"be195cc9.7124e","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":917.3930397033691,"y":361.21433305740356,"wires":[[],[]]},{"id":"dd3649e2.1d4de8","type":"ui_gauge","z":"82925184.363af","name":"UV表","group":"8bc6091.41f15f8","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"x":896.9078369140625,"y":395.8968644142151,"wires":[]},{"id":"95a9eb05.243058","type":"ui_chart","z":"82925184.363af","name":"UV線性圖","group":"ad757801.748698","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":905.7650833129883,"y":430.6111578941345,"wires":[[],[]]},{"id":"fa667880.cc9938","type":"ui_gauge","z":"82925184.363af","name":"雨滴表","group":"9c50199a.17d498","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":896.3366165161133,"y":465.1824994087219,"wires":[]},{"id":"f62c84de.2df238","type":"ui_chart","z":"82925184.363af","name":"雨滴線性圖","group":"529b3da5.f9c5e4","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"hh:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":"","x":914.0507278442383,"y":500.18261194229126,"wires":[[],[]]},{"id":"8197a4ce.713458","type":"function","z":"82925184.363af","name":"parse data","func":"var msgTools = context.global.msgTools;\nvar parseData = msgTools.parseMsg(msg.payload) ;\n\nif(parseData === null){\n    node.warn('parse fail');\n    return;\n}else{\n    node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":113.300048828125,"y":160.26667022705078,"wires":[["2d873981.59a6d6","951d3e85.d1761"]]},{"id":"2d873981.59a6d6","type":"switch","z":"82925184.363af","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"cont","v":"aa00","vt":"str"},{"t":"cont","v":"aa01","vt":"str"},{"t":"cont","v":"aa02","vt":"str"}],"checkall":"true","outputs":3,"x":498.70955657958984,"y":157.51424407958984,"wires":[[],["cb2aefb8.72c69"],[]]},{"id":"cb2aefb8.72c69","type":"function","z":"82925184.363af","name":"氣象裝置01信息","func":"node.warn('msg.payload.information:'+JSON.stringify( msg.payload.information) );\nmsg.payload = msg.payload.information;\nreturn msg;","outputs":1,"noerr":0,"x":512.8264541625977,"y":309.39765310287476,"wires":[["ec6a546c.265678","dce6b5da.b45d68","63b60758.018ec8","19f77a00.fd41c6","bbdfadab.a271a","ce6d37c9.6fe898"]]},{"id":"8c5b4aba.93df98","type":"ui_gauge","z":"82925184.363af","name":"壓力表","group":"aa71d880.a2d698","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"mb","format":"{{value}}","min":0,"max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":890.8929214477539,"y":76.46433401107788,"wires":[]},{"id":"d0180be8.308ea8","type":"function","z":"82925184.363af","name":"notify filter","func":"var parseData = msg.payload;\nnode.warn('parseData : '+typeof(parseData) +\"\\n\"+JSON.stringify(parseData));\nreturn msg.payload;\n\n","outputs":"10","noerr":0,"x":548,"y":577,"wires":[["ecf07a69.9db3c8"],["ecf07a69.9db3c8"],["ecf07a69.9db3c8"],["ecf07a69.9db3c8"],["ecf07a69.9db3c8"],["ecf07a69.9db3c8"],["ecf07a69.9db3c8"],["ecf07a69.9db3c8"],["ecf07a69.9db3c8"],["ecf07a69.9db3c8"]]},{"id":"ecf07a69.9db3c8","type":"twitter out","z":"82925184.363af","twitter":"","name":"Tweet","x":758,"y":568,"wires":[]},{"id":"d813e7aa.199788","type":"inject","z":"82925184.363af","name":"Message test","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":772,"wires":[["951d3e85.d1761"]]},{"id":"99d22783.abed48","type":"inject","z":"82925184.363af","name":"","topic":"","payload":"推文 test","payloadType":"str","repeat":"","crontab":"","once":false,"x":558,"y":687,"wires":[["ecf07a69.9db3c8"]]},{"id":"951d3e85.d1761","type":"function","z":"82925184.363af","name":"filter setting","func":"var msgTools = context.global.msgTools;\nvar parseData = msg.payload;\n//node.warn('parseData : '+typeof(parseData) +\"\\n\"+JSON.stringify(parseData));\n\nif(typeof(parseData) === 'number'){\n    node.warn('parseData for test');\n    parseData = {\"mac\":\"040004b8\",\"type\":\"aa01\",\"data\":\"aa01ab03ee00391c4700ad000903f8\",\"recv\":\"2017-05-12T01:32:11.000Z\",\"date\":\"2017/05/12 09:31:40\",\"extra\":{\"gwip\":\"134.208.240.24\",\"gwid\":\"00001c497b431f8e\",\"rssi\":-129,\"snr\":-12},\"timestamp\":1494552731000,\"information\":{\"pressure\":1006,\"hight\":57,\"temperature\":28,\"humidity\":71,\"light\":173,\"uv\":9,\"rain\":7}};\n}\nvar arr = msgTools.getNotifyDMArray(parseData);\nif(arr){\n    var msg1 = {};\n    msg1.payload = arr;\n    node.warn(\"notify filter:\\n\"+JSON.stringify(arr));\n    return [msg1,msg];\n}else{\n     node.warn(\"No notify\");\n     return [null,msg];\n}","outputs":"2","noerr":0,"x":324,"y":775,"wires":[["d0180be8.308ea8"],["da2037c3.c84938","9bbceb4f.7e1438"]]},{"id":"da2037c3.c84938","type":"function","z":"82925184.363af","name":"Parse(view data)","func":"\nmsg.payload = {id:\"refresh\"};\nreturn msg;","outputs":1,"noerr":0,"x":482,"y":924,"wires":[["f31b5197.c2251","5bada123.f5b18"]]},{"id":"9bbceb4f.7e1438","type":"debug","z":"82925184.363af","name":"","active":true,"console":"false","complete":"false","x":569,"y":822,"wires":[]},{"id":"f31b5197.c2251","type":"websocket out","z":"82925184.363af","name":"","server":"c186f6a.cc5cc08","client":"","x":683,"y":914,"wires":[]},{"id":"875c0d21.a963e","type":"inject","z":"82925184.363af","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":95,"y":1116,"wires":[["bab2bee1.7cefa"]]},{"id":"76f5ab3f.f0dd14","type":"inject","z":"82925184.363af","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":97,"y":1197,"wires":[["36aecefa.25ef92"]]},{"id":"eee4fc01.7c50f","type":"websocket in","z":"82925184.363af","name":"WS control","server":"716cc3a3.7453bc","client":"","x":65,"y":1037,"wires":[["44c025a5.d284cc"]]},{"id":"2569536.0d3f3ac","type":"switch","z":"82925184.363af","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"open","vt":"str"},{"t":"eq","v":"close","vt":"str"}],"checkall":"true","outputs":2,"x":348,"y":1037,"wires":[["bab2bee1.7cefa"],["36aecefa.25ef92"]]},{"id":"44c025a5.d284cc","type":"function","z":"82925184.363af","name":"Control","func":"var obj = JSON.parse(msg.payload);\nnode.warn('WS Control:'+msg.payload);\n\nif(obj.id==\"init\"){\n    var ctrl = context.global.webduinoCtrl;\n    var result = ctrl.valveCtrl();\n    if(result){\n         msg.payload = obj.v;\n        return msg;\n    }else{\n        return;\n    }\n   \n}if(obj.id==\"control\"){\n    msg.payload = obj.v;\n    return msg;\n}else{\n    return;\n}","outputs":1,"noerr":0,"x":215,"y":1035,"wires":[["2569536.0d3f3ac","113a0e63.376da2"]]},{"id":"113a0e63.376da2","type":"debug","z":"82925184.363af","name":"","active":true,"console":"false","complete":"payload","x":338,"y":972,"wires":[]},{"id":"3e963ae1.0b8f86","type":"inject","z":"82925184.363af","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":109.08334350585938,"y":1280.1041870117188,"wires":[["e829241.6b552d8"]]},{"id":"e829241.6b552d8","type":"function","z":"82925184.363af","name":"Relay init","func":"var ctrl = context.global.webduinoCtrl;\nctrl.init();\n\n\n//node.warn('relay state:'+ctrl.state());\nreturn msg;","outputs":1,"noerr":0,"x":303.1457977294922,"y":1279.9168090820312,"wires":[[]]},{"id":"36aecefa.25ef92","type":"function","z":"82925184.363af","name":"Relay off","func":"var ctrl = context.global.webduinoCtrl;\nctrl.relayOff();\nreturn msg;","outputs":1,"noerr":0,"x":526,"y":1195,"wires":[[]]},{"id":"bab2bee1.7cefa","type":"function","z":"82925184.363af","name":"Relay On","func":"var ctrl = context.global.webduinoCtrl;\nctrl.relayOn();\n\n\n//node.warn('relay state:'+ctrl.state());\nreturn msg;","outputs":1,"noerr":0,"x":606,"y":1113,"wires":[[]]},{"id":"5bada123.f5b18","type":"websocket out","z":"82925184.363af","name":"","server":"cc6d6647.377238","client":"","x":710,"y":984,"wires":[]},{"id":"c7a3ba33.c5db78","type":"mqtt-broker","z":"","broker":"52.193.146.103","port":"80","tls":"","clientid":"200000206-generic-service88","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"bae05f18.96c6d","type":"ui_group","z":"","name":"溫度","tab":"2893c4c8.cb4eac","order":1,"disp":true,"width":"6"},{"id":"aa34c7d.2f0ec38","type":"ui_group","z":"","name":"溫度","tab":"d4da2558.2cf218","order":1,"disp":true,"width":"6"},{"id":"a9c23cf1.97bce","type":"ui_group","z":"","name":"壓力","tab":"d4da2558.2cf218","order":4,"disp":true,"width":"6"},{"id":"e78a5ff9.414d6","type":"ui_group","z":"","name":"照明","tab":"2893c4c8.cb4eac","order":6,"disp":true,"width":"6"},{"id":"2234f3b4.78b5dc","type":"ui_group","z":"","name":"照明","tab":"d4da2558.2cf218","order":6,"disp":true,"width":"6"},{"id":"e4958dd5.76b27","type":"ui_group","z":"","name":"溼度","tab":"2893c4c8.cb4eac","order":2,"disp":true,"width":"6"},{"id":"be195cc9.7124e","type":"ui_group","z":"","name":"濕度","tab":"d4da2558.2cf218","order":2,"disp":true,"width":"6"},{"id":"8bc6091.41f15f8","type":"ui_group","z":"","name":"UV","tab":"2893c4c8.cb4eac","order":3,"disp":true,"width":"6"},{"id":"ad757801.748698","type":"ui_group","z":"","name":"UV","tab":"d4da2558.2cf218","order":3,"disp":true,"width":"6"},{"id":"9c50199a.17d498","type":"ui_group","z":"","name":"雨滴","tab":"2893c4c8.cb4eac","order":5,"disp":true,"width":"6"},{"id":"529b3da5.f9c5e4","type":"ui_group","z":"","name":"雨滴","tab":"d4da2558.2cf218","order":5,"disp":true,"width":"6"},{"id":"aa71d880.a2d698","type":"ui_group","z":"","name":"氣壓","tab":"2893c4c8.cb4eac","order":4,"disp":true,"width":"6"},{"id":"c186f6a.cc5cc08","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"},{"id":"716cc3a3.7453bc","type":"websocket-listener","z":"","path":"/ws/control","wholemsg":"false"},{"id":"cc6d6647.377238","type":"websocket-listener","z":"","path":"/ws/update","wholemsg":"false"},{"id":"2893c4c8.cb4eac","type":"ui_tab","z":"","name":"微型氣象","icon":"dashboard","order":1},{"id":"d4da2558.2cf218","type":"ui_tab","z":"","name":"微型氣象圖表","icon":"dashboard","order":2}]