public/flow/ws_control.json
[{"id":"7223869c.bd6428","type":"inject","z":"548378c.6a36988","name":"type : ab00","topic":"","payload":"{\"id\":\"8bab8bd0-e4fe-4225-9eac-9fb019c0d4e1\",\"macAddr\":\"04000496\",\"data\":\"ab00773f3f3030353d3c3130303f3f\",\"buff\":\"2017-06-22T08:04:25.194Z\",\"recv\":\"2017-06-22T08:04:24.000Z\",\"extra\":{\"gwip\":\"10.5.180.16\",\"gwid\":\"00001c497b432024\",\"rssi\":-41,\"snr\":27.5}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":145.16665649414062,"y":127.26667022705078,"wires":[["87a54eb9.7a09c"]]},{"id":"5be6cb2b.360c34","type":"inject","z":"548378c.6a36988","name":"type : ab01","topic":"","payload":"{\"id\":\"8bab8bd0-e4fe-4225-9eac-9fb019c0d4e1\",\"macAddr\":\"04000496\",\"data\":\"ab01783f3f3230353d3C3330303c30\",\"buff\":\"2017-06-22T08:04:25.194Z\",\"recv\":\"2017-06-22T08:04:24.000Z\",\"extra\":{\"gwip\":\"10.5.180.16\",\"gwid\":\"00001c497b432024\",\"rssi\":-41,\"snr\":27.5}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":150.93331909179688,"y":234.93331909179688,"wires":[["87a54eb9.7a09c"]]},{"id":"8815acd8.2c348","type":"debug","z":"548378c.6a36988","name":"","active":true,"console":"false","complete":"false","x":779.1667633056641,"y":144.0666847229004,"wires":[]},{"id":"de8aec83.b4122","type":"function","z":"548378c.6a36988","name":"parse data","func":"var msgTools = context.global.msgTools;\nvar parseData = msgTools.parseMsg(msg.payload) ;\n/*var query_all_mode = 0;\nvar query_part_mode = 2;\nvar setting_all_mode = 1;\nvar setting_part_mode = 3;\n\nvar parseData = msgTools.getQueryCmdByMode(query_part_mode) ;\nvar json = {};\njson.mode=setting_all_mode;\njson.rpm=2000;\njson.turn=1;\njson.set_id=255;\nvar parseData = msgTools.getSettingCmd(json) ;*/\n\n\nif(parseData === null){\n    node.warn('parse fail');\n    return;\n}else{\n    node.warn('#### parseData :'+JSON.stringify(parseData));\n}\nmsg.payload = parseData;\nreturn msg;","outputs":1,"noerr":0,"x":495.93341064453125,"y":143.93333435058594,"wires":[["8815acd8.2c348"]]},{"id":"87a54eb9.7a09c","type":"function","z":"548378c.6a36988","name":"","func":"msg.payload = JSON.stringify(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":295.16668701171875,"y":140.0666732788086,"wires":[["de8aec83.b4122"]]}]