public/flow/ws_find.json
[{"id":"7bfbe2fd.5ac15c","type":"function","z":"4fbe569e.bb1a28","name":"Check WS Message","func":"node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    msg.payload = {id:\"init_end\",v:\"ok\"};\n\treturn [msg,null];  \n}else if(obj.id==\"find\"){\n    var mac = obj.v.mac;\n    var option = obj.v.option;\n    var date = obj.v.date;\n    var host = obj.v.host;\n    var port = obj.v.port;\n    msg.url = \"http://\"+host+\":\"+port+\"/todos/devices?mac=\"+mac+\"&option=\"+option+\"&mdate=\"+date;\n    node.warn(\"msg.url:\"+msg.url);\n    return [null,msg]; \n}\n","outputs":"2","noerr":0,"x":137,"y":203.99996185302734,"wires":[["e85629a9.9c88f8"],["e0ffcc0.a5b9038"]]},{"id":"e85629a9.9c88f8","type":"debug","z":"4fbe569e.bb1a28","name":"","active":true,"console":"false","complete":"payload","x":347.8369140625,"y":169.1145782470703,"wires":[]},{"id":"e0ffcc0.a5b9038","type":"http request","z":"4fbe569e.bb1a28","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":335,"y":211.11458587646484,"wires":[["d985726d.2e1a8"]]},{"id":"d985726d.2e1a8","type":"function","z":"4fbe569e.bb1a28","name":"Parse(view data)","func":"var msgTools = context.global.msgTools;\nvar debug = false;\nvar rows = msg.payload;\n\n//var type = context.global.selectedType;\nif(debug){\n    node.warn(\"Parse(view data)  length : \"+rows.length);\n    node.warn(\"Parse(view data)  type : \"+JSON.stringify(rows));\n}\n\nvar dataString = msgTools.getDevicesData(rows);\nif(debug){\n    node.warn(\"dataString : \"+dataString);\n}\n\nmsg.payload = {id:\"change_table\", v: dataString};\nreturn msg;","outputs":1,"noerr":0,"x":513,"y":211.11458587646484,"wires":[["59504349.24af8c"]]},{"id":"160fc47b.3b18ac","type":"websocket in","z":"4fbe569e.bb1a28","name":"Listen find WS","server":"e615eb9b.ec2918","client":"","x":106.16665649414062,"y":146.0666732788086,"wires":[["7bfbe2fd.5ac15c"]]},{"id":"59504349.24af8c","type":"websocket out","z":"4fbe569e.bb1a28","name":"WS Output","server":"e615eb9b.ec2918","client":"","x":604.166748046875,"y":144.79999542236328,"wires":[]},{"id":"c86d1414.fed878","type":"websocket in","z":"4fbe569e.bb1a28","name":"","server":"c186f6a.cc5cc08","client":"","x":82,"y":50,"wires":[["2114495.3bb29b6"]]},{"id":"b9961f27.04d6d","type":"debug","z":"4fbe569e.bb1a28","name":"","active":true,"console":"false","complete":"false","x":499,"y":32,"wires":[]},{"id":"2114495.3bb29b6","type":"function","z":"4fbe569e.bb1a28","name":"Check WS Message","func":"node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    msg.payload = {id:\"init_end\"};\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":275,"y":50,"wires":[["b9961f27.04d6d","750ef89d.852b08"]]},{"id":"750ef89d.852b08","type":"websocket out","z":"4fbe569e.bb1a28","name":"","server":"c186f6a.cc5cc08","client":"","x":522,"y":70,"wires":[]},{"id":"31ed0d6c.0b38a2","type":"websocket in","z":"4fbe569e.bb1a28","name":"","server":"cc6d6647.377238","client":"","x":95,"y":320,"wires":[["5dd12590.6f91dc"]]},{"id":"5dd12590.6f91dc","type":"function","z":"4fbe569e.bb1a28","name":"Check WS Message","func":"node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    msg.payload = {id:\"init_end\"};\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":310,"y":323,"wires":[["2d33394b.cc0446"]]},{"id":"2d33394b.cc0446","type":"websocket out","z":"4fbe569e.bb1a28","name":"","server":"cc6d6647.377238","client":"","x":529,"y":320,"wires":[]},{"id":"e615eb9b.ec2918","type":"websocket-listener","z":"","path":"/ws/find","wholemsg":"false"},{"id":"c186f6a.cc5cc08","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"},{"id":"cc6d6647.377238","type":"websocket-listener","z":"","path":"/ws/update","wholemsg":"false"}]