.nodered/flows_Jason-PC.json
[{"id":"519d38e.96bb9c8","type":"tab","label":"Flow 1"},{"id":"1d67a990.afe7f6","type":"tab","label":"Flow 2"},{"id":"822ed4a3.9d0838","type":"mqtt-broker","z":"","broker":"192.168.2.5","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"109c7ccf.be1dd3","type":"mqtt-broker","z":"","broker":"192.168.3.6","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"1798a968.c197a7","type":"mqtt-broker","z":"","broker":"192.168.3.6","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"342d64bd.c3885c","type":"websocket-listener","z":"","path":"/ws/find","wholemsg":"false"},{"id":"bacc9d9f.84999","type":"websocket-listener","z":"","path":"/ws/","wholemsg":"false"},{"id":"1f4b87b7.7607e8","type":"websocket-listener","z":"","path":"/ws/update","wholemsg":"false"},{"id":"cc1434d4.373638","type":"websocket-listener","z":"","path":"/ws/control","wholemsg":"false"},{"id":"9487d7da.b4b8d8","type":"mqtt in","z":"519d38e.96bb9c8","name":"接收lora訊息","topic":"GIOT-GW/UL/+","qos":"2","broker":"822ed4a3.9d0838","x":99.93336486816406,"y":210.46671295166016,"wires":[["b003ffe5.a58c4","f900884c.6723b8"]]},{"id":"f641c51f.13bbe8","type":"debug","z":"519d38e.96bb9c8","name":"","active":true,"console":"false","complete":"false","x":504.9336395263672,"y":210.73366737365723,"wires":[]},{"id":"6710edb0.90ee84","type":"function","z":"1d67a990.afe7f6","name":"Check WS Message","func":"node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    msg.payload = {id:\"init_end\",v:\"ok\"};\n\treturn [msg,null];  \n}else if(obj.id==\"find\"){\n    var mac = obj.v.mac;\n    var option = obj.v.option;\n    var date = obj.v.date;\n    var host = obj.v.host;\n    var port = obj.v.port;\n    msg.url = \"http://\"+host+\":\"+port+\"/todos/devices?mac=\"+mac+\"&option=\"+option+\"&mdate=\"+date;\n    node.warn(\"msg.url:\"+msg.url);\n    return [null,msg]; \n}\n","outputs":"2","noerr":0,"x":152.93331909179688,"y":202.93331909179688,"wires":[["c1f4a835.ab49e8"],["d72209f.95801f8"]]},{"id":"c1f4a835.ab49e8","type":"debug","z":"1d67a990.afe7f6","name":"","active":false,"console":"false","complete":"payload","x":363.7702331542969,"y":168.04793548583984,"wires":[]},{"id":"d72209f.95801f8","type":"http request","z":"1d67a990.afe7f6","name":"GET","method":"GET","ret":"obj","url":"","tls":"","x":350.9333190917969,"y":210.04794311523438,"wires":[["cab51905.079118"]]},{"id":"cab51905.079118","type":"function","z":"1d67a990.afe7f6","name":"Parse(view data)","func":"var msgTools = context.global.msgTools;\nvar debug = false;\nvar rows = msg.payload;\n\n//var type = context.global.selectedType;\nif(debug){\n    node.warn(\"Parse(view data)  length : \"+rows.length);\n    node.warn(\"Parse(view data)  type : \"+JSON.stringify(rows));\n}\n\nvar dataString = msgTools.getDevicesData(rows);\nif(debug){\n    node.warn(\"dataString : \"+dataString);\n}\n\nmsg.payload = {id:\"change_table\", v: dataString};\nreturn msg;","outputs":1,"noerr":0,"x":528.9333190917969,"y":210.04794311523438,"wires":[["50a2b07e.cb79f"]]},{"id":"5c3201b4.e53d1","type":"websocket in","z":"1d67a990.afe7f6","name":"Listen find WS","server":"342d64bd.c3885c","client":"","x":122.0999755859375,"y":145.00003051757812,"wires":[["6710edb0.90ee84"]]},{"id":"50a2b07e.cb79f","type":"websocket out","z":"1d67a990.afe7f6","name":"WS Output","server":"342d64bd.c3885c","client":"","x":620.1000671386719,"y":143.7333526611328,"wires":[]},{"id":"31dc7578.e05c6a","type":"websocket in","z":"1d67a990.afe7f6","name":"","server":"bacc9d9f.84999","client":"","x":97.93331909179688,"y":48.93335723876953,"wires":[["aebc527e.07809"]]},{"id":"2648dc7f.95ef24","type":"debug","z":"1d67a990.afe7f6","name":"","active":false,"console":"false","complete":"false","x":514.9333190917969,"y":30.93335723876953,"wires":[]},{"id":"aebc527e.07809","type":"function","z":"1d67a990.afe7f6","name":"Check WS Message","func":"node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    msg.payload = {id:\"init_end\"};\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":290.9333190917969,"y":48.93335723876953,"wires":[["2648dc7f.95ef24","e3728fc1.9b82f"]]},{"id":"e3728fc1.9b82f","type":"websocket out","z":"1d67a990.afe7f6","name":"","server":"bacc9d9f.84999","client":"","x":537.9333190917969,"y":68.93335723876953,"wires":[]},{"id":"50f33a5.f6eb9c4","type":"websocket in","z":"1d67a990.afe7f6","name":"","server":"1f4b87b7.7607e8","client":"","x":110.93331909179688,"y":318.93335723876953,"wires":[["2d0bde22.192ee2"]]},{"id":"2d0bde22.192ee2","type":"function","z":"1d67a990.afe7f6","name":"Check WS Message","func":"node.warn('Check WS/devices Message payload'+msg.payload);\nvar obj = JSON.parse(msg.payload);\ndelete msg.payload;\ndelete msg._session;\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    msg.payload = {id:\"init_end\"};\n\treturn msg;  \n}\n","outputs":"1","noerr":0,"x":325.9333190917969,"y":321.93335723876953,"wires":[["a14cfd18.7a0ca"]]},{"id":"a14cfd18.7a0ca","type":"websocket out","z":"1d67a990.afe7f6","name":"","server":"1f4b87b7.7607e8","client":"","x":544.9333190917969,"y":318.93335723876953,"wires":[]},{"id":"759f680d.ad3468","type":"websocket in","z":"1d67a990.afe7f6","name":"","server":"cc1434d4.373638","client":"","x":112.16667175292969,"y":442.0000762939453,"wires":[["72e53ece.07cb9","8a419593.77b038"]]},{"id":"72e53ece.07cb9","type":"debug","z":"1d67a990.afe7f6","name":"","active":false,"console":"false","complete":"false","x":349.16675186157227,"y":441.86674308776855,"wires":[]},{"id":"43a7298a.d19898","type":"comment","z":"1d67a990.afe7f6","name":"Send dl command to lora","info":"","x":145.1666717529297,"y":394.80006980895996,"wires":[]},{"id":"8a419593.77b038","type":"function","z":"1d67a990.afe7f6","name":"Parse  /ws/control motor information","func":"var msgTools = context.global.msgTools;\nvar query_mode_0 = 0;\nvar query_mode_2 = 2;\nvar setting_all_mode = 1;\nvar setting_part_mode = 3;\n\nnode.log('From control page : '+msg.payload);\nvar obj = JSON.parse(msg.payload);\nvar dataJson = {} ,json = {};\n//dataJson.macAddr = msgTools.getLoraMac();\n\n//msg.payload is used as the payload of the published message.\n\n// toggle switch tsw-1\t- output 1 \nif(obj.id==\"init\"){\n    //To virify initial information is exist or not\n    var initData = msgTools.getMotorInitData(obj.v.mac);\n    if( initData.info ){\n    // Initial information is exist\n       var msg2 = {};\n       msg2.payload = {id:\"get_query_0\", v: initData};\n       return[null,msg2];\n    }else{\n        // Initial information is not exist\n        node.warn('To send \"query_mode_0\" message via MQTT publish');\n        var parseData = msgTools.getQueryCmdByMode(query_mode_0);\n    }\n    \n}else if(obj.id==\"query_mode_2\"){\n    \n    var parseData = msgTools.getQueryCmdByMode(query_mode_2);\n    node.warn('To send \"query_mode_2\" message via MQTT publish');\n}else if(obj.id==\"setting_all\"){\n    json.mode=setting_all_mode;\n    json.rpm=2000;\n    json.turn=1;\n    json.set_id=255;\n    var parseData = msgTools.getSettingCmd(json); \n    node.warn('To send \"setting_mode_1\"\" message via MQTT publish');\n}else if(obj.id==\"setMotor\"){\n    json.mode=setting_part_mode;\n    json.rpm=obj.v.rpm;\n    var parseData = msgTools.getSettingCmd(json); \n    node.warn('To send \"setting_mode_3\" message via MQTT publish');\n}\n\ndataJson.macAddr = obj.v.mac;\ndataJson.data = parseData;\ndataJson.id = \"12345\"\ndataJson.extra = {\"port\":1,\"txpara\":\"6\"};\nvar arr = [dataJson];\nmsg.payload = JSON.stringify(arr);\n//msg.payload = \"[{\\\"macAddr\\\":\\\"0000000005010403\\\",\\\"data\\\":\\\"1234\\\"}]\";\n\nnode.log('Publish data :'+JSON.stringify(msg.payload));\n\nreturn [msg,null];\n","outputs":"2","noerr":0,"x":333.9334716796875,"y":577.8669185638428,"wires":[["71169bb5.883524","c61a4b2.27841b8"],["12aa5048.93a9a","a4d10211.427d1"]]},{"id":"6fb97d90.4d4d34","type":"comment","z":"1d67a990.afe7f6","name":"Send MQTT message","info":"","x":377.16675567626953,"y":509.8002452850342,"wires":[]},{"id":"63de7b55.1401a4","type":"comment","z":"1d67a990.afe7f6","name":"Send WS message","info":"","x":368.16675567626953,"y":650.8003234863281,"wires":[]},{"id":"12aa5048.93a9a","type":"websocket out","z":"1d67a990.afe7f6","name":"","server":"cc1434d4.373638","client":"","x":887.1667671203613,"y":619.0669898986816,"wires":[]},{"id":"a4d10211.427d1","type":"debug","z":"1d67a990.afe7f6","name":"Get init  motor information","active":true,"console":"false","complete":"payload","x":615.1667327880859,"y":658.8666667938232,"wires":[]},{"id":"2a081c25.6844a4","type":"function","z":"519d38e.96bb9c8","name":"parse data","func":"var msgTools = context.global.msgTools;\nvar parseData = msgTools.parseMotorMsg(msg.payload) ;\n\nif(parseData === null){\n    node.warn('Drop message');\n    return;\n}\n\nvar info = parseData.information;\nvar data =  parseData.data;\n\nvar mode = parseData.mode;\nnode.log('#### parseData mode :'+mode+\"\\n\"+JSON.stringify(parseData));\n//node.warn('#### Data :'+data+'mode:'+mode);\nvar json = {};\njson.mac = parseData.mac;\n//json.mode = mode;\njson.info = info;\n\n/*\n* 0x0：工程模式，詢問轉速上限值[5]~[8]、正反轉/模式[9]、OFF_Delay[10]、ON_Delay[11]、ID[12]~[13]、軟體版本[14]、硬體版本[15]\n* 0x2：工程模式，詢問目前轉速值[5]~[8]、電流值[9]~[12]、Error Code[13]\n*/\nif(mode ==='30'){\n    msg.payload = {id:\"get_query_0\", v: json};\n}else if(mode ==='32'){\n    msg.payload = {id:\"get_query_2\", v: json};\n}else if(mode ==='31'){\n    msg.payload = {id:\"get_setting_1\", v: json};\n}else if(mode ==='33'){\n    msg.payload = {id:\"get_setting_3\", v: json};\n}\n\n//node.warn('#### parse data msg.payload :'+JSON.stringify(msg.payload));\nreturn msg;","outputs":1,"noerr":0,"x":501.7001647949219,"y":126.6000108718872,"wires":[["589edf11.61e24","5333163a.6fdfe8"]]},{"id":"5333163a.6fdfe8","type":"websocket out","z":"519d38e.96bb9c8","name":"WS Output","server":"cc1434d4.373638","client":"","x":731.1001892089844,"y":127.61886692047119,"wires":[]},{"id":"589edf11.61e24","type":"debug","z":"519d38e.96bb9c8","name":"Subscribe MQTT parse data send back to Control pag","active":true,"console":"false","complete":"payload","x":841.1667938232422,"y":67.93339443206787,"wires":[]},{"id":"e1bee070.059d5","type":"inject","z":"1d67a990.afe7f6","name":"Test for publish MQTT message","topic":"","payload":"\"[{\\\"macAddr\\\":\\\"0000000005010403\\\",\\\"data\\\":\\\"1234\\\"}]\"","payloadType":"str","repeat":"","crontab":"","once":false,"x":667.933349609375,"y":442.60007667541504,"wires":[["71169bb5.883524"]]},{"id":"71169bb5.883524","type":"mqtt out","z":"1d67a990.afe7f6","name":"MQTT Publish","topic":"GIOT-GW/DL/00001c497b3b8146","qos":"2","retain":"false","broker":"822ed4a3.9d0838","x":901.9333724975586,"y":543.0003147125244,"wires":[]},{"id":"8bfd76ad.01c2b8","type":"function","z":"519d38e.96bb9c8","name":"測試用","func":"var arr = JSON.parse(msg.payload);\nvar data = 'ac0107'+ arr[0].data;\n\nvar mode =  data.substring(12,14);\nnode.log('mode : '+mode +' >> data : '+data);\nvar json;\nif(mode === '30'){\n    json = {\"channel\":925125000, \"sf\":9, \"time\":\"2017-07-03T09:44:25\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-47.0, \"snr\":32.0, \"snr_max\":40.5, \"snr_min\":28.8, \"macAddr\":\"0000000005010336\", \"data\":\"ac0177233f3f3030313d363130303f3f30303838od\", \"frameCnt\":100, \"fport\":2};\n}else if(mode === '32'){\n    json = {\"channel\":925125000, \"sf\":9, \"time\":\"2017-07-03T09:44:25\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-47.0, \"snr\":32.0, \"snr_max\":40.5, \"snr_min\":28.8, \"macAddr\":\"0000000005010336\", \"data\":\"ac0177233f3f3230313d363330303c3030303736od\", \"frameCnt\":100, \"fport\":2};\n\n}else if(mode === '31'){\n    json = {\"channel\":925125000, \"sf\":9, \"time\":\"2017-07-03T09:44:25\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-47.0, \"snr\":32.0, \"snr_max\":40.5, \"snr_min\":28.8, \"macAddr\":\"0000000005010336\", \"data\":\"ac0177233f3f3130313d363130303f3f30303838od\", \"frameCnt\":100, \"fport\":2};\n}else if(mode === '33'){\n    json = {\"channel\":925125000, \"sf\":9, \"time\":\"2017-07-03T09:44:25\", \"gwip\":\"192.168.2.4\", \"gwid\":\"00001c497b3b8146\", \"repeater\":\"00000000ffffffff\", \"systype\":4, \"rssi\":-47.0, \"snr\":32.0, \"snr_max\":40.5, \"snr_min\":28.8, \"macAddr\":\"0000000005010336\", \"data\":\"ac0177233f3f3330313d363130303f3f30303838od\", \"frameCnt\":100, \"fport\":2};\n    json.data = data;\n}\n//json.data = data;\n\nvar payload = [json];\n\nnode.log('#####Local MQTT message test data type: '+typeof(payload)+\"\\n\"+JSON.stringify(payload));\n\nmsg.payload = JSON.stringify(payload[0]);\n//msg.payload = JSON.stringify(payload);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":301.1667900085449,"y":129.26676559448242,"wires":[["2a081c25.6844a4"]]},{"id":"c61a4b2.27841b8","type":"debug","z":"1d67a990.afe7f6","name":"Publish MQTT message","active":true,"console":"false","complete":"payload","x":621.1667175292969,"y":507.7333450317383,"wires":[]},{"id":"2c774d15.257822","type":"debug","z":"519d38e.96bb9c8","name":"測試用MQTT訂閱","active":true,"console":"false","complete":"payload","x":329.1668014526367,"y":74.06668281555176,"wires":[]},{"id":"b003ffe5.a58c4","type":"function","z":"519d38e.96bb9c8","name":"Type filter","func":"var arr = JSON.parse(msg.payload);\nvar payload = arr[0];\nvar data = payload.data;\nvar mac = payload.macAddr;\nvar type = data.substring(0,4);\nif(type.indexOf('ac')!=-1){\n    node.log('#### Parse mac : ('+mac+') message :'+data);\n    msg.payload = JSON.stringify(payload);\n    return msg;\n}else{\n    //node.log('???? Drop mac : ('+mac+') message :'+data);\n}\n","outputs":1,"noerr":0,"x":300.60014724731445,"y":210.93352127075195,"wires":[["f641c51f.13bbe8","2a081c25.6844a4"]]},{"id":"f900884c.6723b8","type":"debug","z":"519d38e.96bb9c8","name":"","active":false,"console":"false","complete":"false","x":303.83348846435547,"y":280.0667667388916,"wires":[]},{"id":"80502c2d.79316","type":"comment","z":"519d38e.96bb9c8","name":"測試用MQTT訂閱","info":"GIOT-GW/DL/00001c497b3b8146","x":110.16670227050781,"y":37.13338279724121,"wires":[]},{"id":"5bd7a05.eb11e6","type":"mqtt in","z":"519d38e.96bb9c8","name":"測試用MQTT訂閱","topic":"GIOT-GW/DL/00001c497b3b8146","qos":"2","broker":"822ed4a3.9d0838","x":112.93334197998047,"y":73.93334770202637,"wires":[["2c774d15.257822"]]},{"id":"6e72361b.568f68","type":"inject","z":"1d67a990.afe7f6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":514.1666717529297,"y":764.9333686828613,"wires":[["3b42e47a.b3b3ec"]]},{"id":"3b42e47a.b3b3ec","type":"function","z":"1d67a990.afe7f6","name":"","func":"msg.payload = {id:\"get_setting_3\", v: null};\nreturn msg;","outputs":1,"noerr":0,"x":718.166748046875,"y":766.1333694458008,"wires":[["12aa5048.93a9a"]]}]